<tr class='<%= task.parent? ? 'border-top' : '' %>' >  
  <td class='<%= task.subtask? ? 'ps-5' : '' %>'>
    <span class='text-<%= task.css_color %> pr-2'><%= task.symbol %></span>

    <% if task.done? %>
      <s class='text-muted'><%= task.description %></s>
    <% else %>
      <%= task.description %>
    <% end %>
  </td>
  
  <td><%= l task.due_date %></td>

  <td class='text-end pe-0'>
    <% if task.parent? %>
      <%= link_to 'Add Subtask', new_task_path(parent_id: task.id), class: 'btn btn-success btn-sm' %>
    <% end %>
    <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-sm' %>
    <%= link_to 'Delete', task, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
  </td>
</tr>